#event{
	padding:0.5em;
}

#group_title{
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	font-weight:bolder;
	text-align: center;
}
.search-container {
	display: flex;
	justify-content: center;
  }
  input[type=text] {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
  }

#keywords{
	font-size:11px;
	font-style: italic;
	padding-top:-10px;
	padding-bottom:-10px;
}
