.groupscreation {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
}

.groupscreation h3 {
    text-align: center;
}

.input-group {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
}

.input-group label {
    margin-right: 0.5rem;
    width: 12%;
}

.input-group input, .input-group select, .input-group textarea {
    flex: 1;
}

.group-card{
    background-color: aliceblue;
    border-radius: 8px;
    padding: 1rem;
}

.not_clicked{
    padding: 0.25rem 1.5rem;
    border-radius: 8px;
    background-color: #ffc904;
    border: solid 1px #ffc904;
}

.clicked{
    padding: 0.25rem 1.5rem;
    border-radius: 8px;
    border: solid 1px #ffc904;
    background-color: blue;
}

.group-cards{
    gap: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
.search-container {
	display: flex;
	justify-content: center;
  }
  
  input[type=text] {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
  }