*{
	padding:0;
	margin:0;
	font-family: sans-serif;
}
body {
    background-color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#head{
	background-color:#ffc904;
	height:5rem;
	
}

#navbar{
	background-color:#ba9b37;
	width:100%;
}